*{
    margin: 5px 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: yellow;
}

.formato_registro{
    width: 500px;
    height: 600px;
    background-color: rgb(34, 34, 43);
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 7px 13px 37px #000;

}
.formato_registro h2{
    color: white;
    margin-bottom: 20px;
    background-color: rgb(34, 34, 43);
}
.control{
    width: 100%;
    background-color: rgb(167, 180, 179);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(252, 251, 249);
    font-size: 18px;
}
.formato_registro p{
    color: white;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    background-color: rgb(34, 34, 43);
    
}
.formato_registro a{
    color: white;
    background-color: rgb(34, 34, 43);
    
}

.formato_registro a:hover{
    color: white;
        text-decoration: underline;
}

.formato_registro .boton{
    width: 100%;
    background-color: rgb(46, 15, 219);
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 16px 0px;
    font-size: 15px;
}