@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin: 0%;
    background-image: url(assets/img/encabezado1.png);
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
    margin-top: 100px;
    background-color: rgb(0, 0, 0, 0.7);
    padding-left: 25%;
}

.navBar div {
    color: white;
    font-family: 'Lato', sans-serif;
}

.parameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
    background-color: rgb(128, 128, 128, 0.7);
    padding-left: 25%;
    padding-top: 40px;
    padding-bottom: 100px;
    margin-top: 50px;
}
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0;
}

.slider ul {

    margin: 0;
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio{
    0% { margin-left: 0;}
    20% { margin-left: 0;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

.options{
    background-color: rgb(214, 214, 214);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.options p{
    
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    
}
.optionA{

    border: black solid 2px;
    margin: 0 66% 0 0 
    
}
.optionB{

    border: black solid 2px;
    margin: 0 33% 0 33% 
    
}
.optionC{

    border: black solid 2px;
    margin: 0 0 0 66% 
    
}

