@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0.5%;
    border: 5px solid;
    border-color:white;
    border-radius: 10px;
    background-color: rgb(253, 253, 115);
}


.navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
    margin-top: 25px;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0.6);
    padding-left: 35%;
}

.navBar div {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 3%;
}

.slider ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.options {
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.options p {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}

.optionA {
    border: black solid 2px;
    margin: 0 66% 0 0
}

.optionB {
    border: black solid 2px;
    margin: 0 33% 0 33%
}

.optionC {
    border: black solid 2px;
    margin: 0 0 0 66%
}

a {
    text-decoration: none;
    color: white;
}

.navBar a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.enc {
    display: flex;
    flex-wrap: wrap;
}

.medidas-miguel {
    width: 400px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 30px;
    margin-left: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
   
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}

.medidas-miguel:hover {
    background-color: rgb(235, 117, 96);
    color: black;
    font-style: oblique;
    padding: auto
}

.card-footer {
    background-color: rgb(0, 0, 0, 0.5);
}

.text-muted {
    font-size: 15px;
}

.text-muted a {
    text-decoration: none;
}

.text-muted a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.card-deck {
    margin: 15px;
}

footer {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.pie {
    padding: 15px;
}

.pie div img {
    width: 40px;
    height: 40px;
}

.contenedor {
    background: rgb(253, 253, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 0px 50px 0px;
   
}

.elemento1 {
    margin-left: 180px;
    padding-right: 15px;
    margin: top 20px;
    ;
}

.elemento1 p {
    font-size: 25px;
    color: #000;
}

.contenedor {
    height: 30px;
    background: rgb(253, 253, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px
}

.elemento {
    padding: 5px;
}

.titulo {
    text-align: center;
    margin-top:10%;
    padding-left: 30%;
}

.ini {
    margin-top: 30px;
}

.inides {
    margin: 70px;
    margin-bottom: 10%;
}

.card-img {
    width: auto;
    height: 500px;
    
}

.card-title {
    text-align: center;
    color: black;
    font-style: oblique;
}

.card-text {
    color: black;
    text-align: center;
    padding: 0 100px 0 100px;
    font-style: oblique;
    text-decoration: none;
}

:root {
    --facebook: rgb(48, 72, 179);
    --twitter: rgb(50, 182, 182);
    --youtube: rgb(194, 19, 19);
    --linkedin: rgb(28, 46, 126);
    --instagram: rgb(206, 10, 92);
}

.redes-container {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 65px;
    height: 65px;
    text-align: center;
}

.redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 70px;
    font-size: 25px;
    box-shadow: 0 3px 5px 0px rgb(0, 0, 0, .2);
    transition: .2s;
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgb(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
    margin: 10px;
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
    margin: 10px;
}

.redes-container ul li .youtube:hover {
    background: var(--youtube);
    margin: 10px;
}

.redes-container ul li .linkedin:hover {
    background: var(--linkedin);
    margin: 10px;
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
    margin: 10px;
}

.pie {
    margin: 10px;
    font-size: 25px;
}

.card-title {
    margin: 10px;
    font-size: 50px;
}

/*salon de eventos*************************************************************************/


.conteiner_carlos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.card_carlos {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.contenedor_convenciones {
    height: 280px;
    background: rgb(253, 253, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    margin-bottom: 100px;
   
    
}
.elemento1c{
    margin-right: 20%;
}
.videoc{
    border-radius: 20px;
    margin-top: 10px;

}

.conteiner_card_titulo {
    height: 80px;
    width: 100%;
    background: rgb(253, 253, 115);
    display: flex;
    flex-wrap: initial;
    justify-content: space-around;
    margin: 15px 0px 5px 0px;
    padding-right: 3px;

}
.conteiner_card_titulo h1{
color: #000;
font-size: 40px;
font-family: 'Coda Caption', sans-serif;
}
.row {
    margin-bottom: 5%;
}
.conteiner_card_carlos {
    height: 740px;
    background: rgb(243, 243, 237);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 25%;
}


.card-text {
    padding: 0px!important
}

.miguel-titulo {
    text-align: center;
    padding: 70px;
    margin-left: 300px;
}

.card-img-top {
    height: 300px;
}

.med-miguel {
    margin: 50px;
    margin-left: 400px;
}

.contenedor_registro {
    height: 30px;
    background: rgb(253, 253, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 50%;
    margin-right: 10%;
}

/*validacion de fechas*/

.reserva {
    margin-bottom: 10px;
}

.reserva {
    height: 205px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
    margin-top: 30px;
    padding: 0px;
    background-color: rgb(253, 253, 115);
    padding-left: 45%;
}

form {
    width: 100%;
    height: 150px;
    margin: auto;
    background-color: #000;
    box-sizing: border-box;
    margin-top: 0px;
    border-radius: 10px;
    margin-left: 0%;
}

.parameters {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(128, 128, 128, 0.7);
    padding-left: 0%;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 10px;
}

.parameters input {
    height: 40px;
    width: 150px;
}

#htl {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border-color: #000;
    border: 1.5px solid;
}

#htl input {
    width: 20px;
}

label {
    color: #000;
}

.btn-warning {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border-color: #000;
    border: 1.5px solid;
    padding: 4px;
    font-size: 17px;
}

.miguel-boton {
    text-decoration: none;
    margin-left: 78%;
    width: 150px;
    height: 40px;
    border-radius: 30px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 20px;
}

#boton:hover {
    cursor: pointer
}

@media(max-width:480px) {
    form {
        width: 100%;
    }
}

.contenedor_contacto {
    height: 30px;
    background: rgb(253, 253, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 0%;
    margin-right: 10%;
}


.card-title {
    height: 100px;
    text-shadow: #adc913;
}

/* boton registro***************************************************************************/

.modal-content {
    height: 720px;
    width: 580px;
    border: #fff solid;
}

.modal-body {
    background-color: black;
    justify-content: left;
    height: 550px;
    width: 0px;
    padding-right: 96.2%;
    border: #fff solid;
}

.form-group1 {
    text-align: center;
    width: 550px;
}
.form-group1 a {
    text-align: center;

}
.btn-primary {
    border-radius: 1.5px solid;
    border-color: #000;
}

.btn-primary {
    background-color: rgb(253, 253, 115);
    border-color: rgb(253, 253, 115);
    color: rgb(12, 12, 12);
    width: 100px;
    height: 35px;
    padding: 1px;
    margin-top: 10px;
    border-radius:30px;
    border-color: #000;
    border:1.5px solid;

}

.close {
    color: #fff;
}

.form-group {
    color: #fff;
}

.modal-header {
    background-color: black;
    color: #fff;
    margin: 0%;
    border: #fff solid;
    padding-left: 25%;
}

.modal-footer {
    background-color: black;
    border-color: rgb(253, 253, 115);
    border: #fff solid;
}

.btn-secondary {
    background-color: rgb(0, 0, 0, 0.6);
    border-color: #fff;
    border-radius: 10px;
}

.form-control {
    width: 530px;
    padding: 0%;
    margin: 0px;
}

.col-form-label {
    width: 550px;
    height: 30px;
    color: #fff;
    margin: 0px;
   
}
/* gif*****************************************************/
.gipromo{
    padding-top: 10%;
}
.gif2{
    margin-right: 85%;
   cursor: pointer;
}
.gifbienvenidos{
    
    margin-left: 45%;

}


/* nosotros*****************************************************/
.slidernosotros {
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 6%;}

    
.slidernosotros ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slidernosotros li {
    width: 100%;
    list-style: none;
}

.slidernosotros img {
    width: 100%;
}

.texnosotros{
    padding:0% 10%;
    text-align: justify;
}
.titulos_nosotros {
    text-align: center;
    margin: 0px;
 
}
.mapanosotros iframe{
    width: 100%;
}