@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin: 1%;
    background-color: rgb(253, 253, 115);
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
    margin-top: 25px;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0.6);
    padding-left: 25%;
}

.circulo {
    background-color: white;
    border: black solid 1px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

.navBar div {
    color: white;
    font-family: 'Lato', sans-serif;
}

.parameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
    background-color: rgb(128, 128, 128, 0.7);
    padding-left: 25%;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0;
}

.slider ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.options {
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.options p {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}

.optionA {
    border: black solid 2px;
    margin: 0 66% 0 0
}

.optionB {
    border: black solid 2px;
    margin: 0 33% 0 33%
}

.optionC {
    border: black solid 2px;
    margin: 0 0 0 66%
}

a {
    text-decoration: none;
    color: white;
}

.navBar a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.enc {
    display: flex;
    flex-wrap: wrap;
}

.medidas {
    width: 280px;
    height: 30px;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 30px;
    margin-left: 200px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 0px;
    padding-top: 3px;
}

.medidas:hover {
    background-color: rgb(235, 117, 96);
    color: black;
    font-style: oblique;
    padding: 10px
}

.card-footer {
    background-color: rgb(0, 0, 0, 0.5);
}

.text-muted {
    font-size: 15px;
}

.text-muted a {
    text-decoration: none;
}

.text-muted a:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}
.card-deck{
    margin: 15px;
}

footer{
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.pie{
padding: 15px;
}

.pie div img{
    width: 40px;
    height: 40px;

}
.reserva{
    margin-bottom: 10px;
}

.contenedor {
    height: 10px;
    background: rgb(253, 253, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    margin: 0px 0px 50px 0px;


}

.elemento1{
    margin-left: 190px;
    padding-right: 15px;
    margin: top 20px; ;
}
